{{ $favicon := resources.GetMatch .Site.Params.favicon }}

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="Cristiano Raffi Cunha">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
<meta
  name="description"
  content="{{ if .IsPage }}{{ or .Params.description .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Summary }}{{ end }}"
/>

<meta name="google-site-verification" content="LAWss35SXDdovnnYs9qjxYEiRV0qIfDqXcPHWL_i_xM" />
<meta name="msvalidate.01" content="CDC4BE55A84F0A50CEFE5AC4AF2D444E" />

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="robots" href="/robots.txt" />

<link rel="icon" type="image/x-icon" href="{{ $favicon.RelPermalink }}" />
<!-- End Google Analytics -->
